* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* imports */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* End of imports */

/* fonts */
@font-face {
  font-family: 'museo-sans-700';
  src: url(./fonts/MuseoSans_700.otf);
  
}
@font-face {
  font-family: 'museo-sans-100';
  src: url(./fonts/MuseoSans-100.otf);
}

@font-face {
  font-family: 'pixel';
  src: url(./fonts/PixelEmulator-xq08.ttf);
}
/*end of fonts */

/* global variables */
:root {
  --primaryColor: #6ba4fa;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --cartbtn: rgb(98, 202, 98);
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --fontTitle: 'museo-sans-700', 'sans-serif';
  --fontDate: 'museo-sans-100', 'sans-serif';
}
/* end of global variables */

/* --------------- Navbar ---------------- */

.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
/* logo */
.navbar .logo {
  font-family: 'pixel', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
.navbar .logo a{
  text-decoration: none;
  color: var(--primaryColor);
}
.navbar .logo a:hover{
  color: blue;
}
.navbar .logo a:active{
  color: red;
}
/* cart and hamburger */
/* cart */
.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* hamburger */
.hamburgerMenu:hover{
  cursor: pointer;
}
/* End of cart and hamburger */

/* --------------- End of Navbar ---------------- */

/* hero image slider */
.hero {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  /* background: rgba(255, 255, 255, 0.8); */
  display: inline-block;
  padding: 2rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: 'pixel';
  font-size: 1rem;
  /* font-weight: bold; */
  background:  rgba(231, 226, 221, 40%);
  color: white;
  border: 1px solid grey;
  transition: var(--mainTransition);
  cursor: pointer;
  
  /* border-radius: 30px; */
}


.banner-btn:hover {
  border: 1px solid white;
  background:white ;
  color: var(--mainBlack);
}

html {
  scroll-behavior: smooth;
}
/* -> images */
#img1{	
	background: url("./images/hero1.jpg") center no-repeat;

}
#img2{	
	background: url("./images/hero2.jpg") center/cover no-repeat;
}
#img3{	
	background: url("./images/hero3.jpg") center/cover no-repeat;
}
#img4{	
	background: url("./images/hero4.jpg") center/cover no-repeat;
}
#img5{	
	background: url("./images/hero5.jpg") center/cover no-repeat;
	
}
/* -> previoius-next */
.prev, .next{
	position: absolute;
	top: 55%;
	transform: translate(0, -55%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
/* -> slide dots */
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
 .dot{
	display: inline-block;
	width: 5px;
	height: 5px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	
}
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* -> fade */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }


/* End of hero image slider */


/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}

.section-title h2 {
  color: grey;
  font-family: 'pixel', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 75%;
  right: 0;
  background: var(--cartbtn);
  border: none;
  text-transform: uppercase;
  padding: 0.9rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateY(150%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateY(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
  border-radius: 8px;
  border: var(--mainGrey) solid 0.5px;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-family: var(--fontTitle);
  font-size: 1.3125rem;
  font-weight: 700;
  /* letter-spacing: var(--mainSpacing); */
  align-items: flex-end;
  flex-wrap: wrap;
  line-height: 1.33;
}


.product h4 {
  text-transform: capitalize;
  font-family: var(--fontTitle);
  font-size: 1.3525rem;
  font-weight: 700;
} 

.product-tile {
  display: grid;
  grid-template-columns: 100%;
  gap: 1em;
  text-decoration: none;
  padding: 10px 0;
}

.product-tile p {
  color: #484848;
  font-family: var(--fontDate);
  font-size: 16px;
  font-weight: 100;
  margin: 0px;
}

/* ---------------End of Products ---------------- */